
# Python bytecode
*.pyc

# Weight files
bin/

# Sample image data
test/*.jpg          #Exclude any added images
!test/sample_*.jpg  #Don't exclude the default images
test/out/*.jpg      #Exclude any generated images with predictions

# Annotated test results
results/

# Intermediate training data
backup/
tfnet/yolo/parse-history.txt
tfnet/yolo/*.parsed
*.txt
*.pb
/profile
/test.py

# Built cython files
darkflow/cython_utils/*.pyd
darkflow/cython_utils/*.c

#egg-info
darkflow.egg-info/

#Other build stuff
build/

#TensorBoard logs
summary/

#Built graphs
graph-cfg/
