
# Python bytecode
*.pyc

# Weight files
bin/

# Test data
test/*.jpg
test/out/*.jpg

# Annotated test results
results/

# Intermediate training data
backup/
tfnet/yolo/parse-history.txt
tfnet/yolo/*.parsed
*.txt
*.pb
/profile
/test.py

# Built cython files
darkflow/cython_utils/*.pyd
darkflow/cython_utils/*.c

#egg-info
darkflow.egg-info/

#Other build stuff
build/

#TensorBoard logs
summary/
